body {
	margin: 0;
	padding: 0;
	font: 16px 'Heebo', 'Arial', sans-serif;
}

.container {
	width: 1200px;
	margin: auto;
}

.wrapper {
	padding-top: 100px;
	margin-bottom: 100px;
}


* {
	box-sizing: border-box;
}

