body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: 16px Arial, sans-serif;
	background-color: green;
}

header {
	position: fixed;
	height: 10px;
	color: $greyText;
	width: 100%;
	font-size: 0.6rem;
}

nav {
	background-color: #eee;
	border-bottom: 0.1px solid $greyText;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-around;

	h1 {
		flex: 0 0 300px;
		padding-left: 200px;
	}
}

ul {
	padding-right: 200px;
	list-style-type: none;
	min-width: 450px;
	justify-content: space-between;

	li {
		display: inline;
		padding: 20px;
	}

	li a {
		text-decoration: none;
		color: $greyText;
		transition: color 200ms;
	}

	li a:hover {
		color: powderblue;
	}

	i {
		padding: 10px;
	}

	i:hover {
		background-color: powderblue;
		color: #fff;
	}
}

.large-hero {
	height: 400px;
	background-color: $bgGrey;
}

.innovation {
		max-width: 1200px;
		margin: auto;
		text-align: center;
		
	.innovation-wrapper {
		border: 1px solid;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 50% 50%;
	}
}

.innovation-wrapper {
	.read-more {
		grid-area: 2/3/5/5;
		font-size: 0.875rem;
	}
	.dummy-text {
		font-size: 1.125rem;
	}
}

.services {
	height: 600px;
	background-color: #eee;
	text-align: center;

	.block-quote {
		color: rgb(103, 106, 107);
		max-width: 1000px;
		text-align: left;
		padding-left: 80px;
	}

	.quote-author {
		color: rgb(39, 43, 43);
	}
}


