$htLightGreen: #C9DD4B; 
$htMediumGreen: #5f7030; 	
$htDarkGreen: #c;  
$htLightGrey: #999999; 
$htMediumGrey: #333333;  	 
$htDarkGrey: #1D1D1D;  
$htBlack: rgb(0, 1, 0);
$htBlackOpacity: rgba(0, 1, 0, 0.88);
$htWhite: #F5F5F5;   
$htYellow: #e3d34d;
$htNewGreen: #8ACD46;
$htNewGreen2: #3D481E;


#040406
#82705D