* {
	box-sizing: border-box;
} 
body {
	margin: 0;
	padding: 0;
	font: 16px 'Heebo', 'Arial', sans-serif;
} 
/*@define-mixin atMedium-Small {
	@media (min-width: 650px) {
		@mixin-content;
	}
}*/ 
.about {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #1D1D1D;
	padding-top: 100px;
} 
/*padding-bottom: 60px;*/ 
.about__image {
	margin-top: 60px;
	width: 85%;
	box-shadow: 4px 8px 10px 0px #000000d1;
} 
@media (min-width: 530px) { 
	.about__image {
		width: 80%;
	}
} 
@media (min-width: 800px) { 
	.about__image {
		width: 78%;
		box-shadow: 12px 11px 10px 0px #000000d1;
	}
} 
@media (min-width: 900px) { 
	.about__image {
		width: 66.5%;
	}
} 
@media (min-width: 1100px) { 
	.about__image {
		width: 68%;
	}
} 
@media (min-width: 1300px) { 
	.about__image {
		width: 75%;
	}
} 
.about__text-content {
	padding-top: 0px;
	font-size: 1.25rem;
	max-width: 300px;
	margin: auto; 
	/*margin-bottom: -80px;*/
	text-align: center;
	line-height: 180%;
	color: rgb(0, 1, 0);
} 
@media (min-width: 530px) { 
	.about__text-content {
		font-size: 1.4rem;
		max-width: 500px;
		padding-top: 20px;
	}
} 
@media (min-width: 800px) { 
	.about__text-content {
		font-size: 1.5rem;
		max-width: 600px;
		padding-top: 40px;
	}
} 
@media (min-width: 900px) { 
	.about__text-content {
		max-width: 800px;
	}
} 
@media (min-width: 1300px) { 
	.about__text-content {
		max-width: 1000px;
	}
} 
.audio__soundcloud-player {
	width: 100%;
	height: 450px;
	padding-left: 20px;
	padding-right: 20px;
} 
@media (min-width: 800px) { 
	.audio__soundcloud-player {
		margin-top: 45px;
		margin-bottom: -10px;
	}
} 
@media (min-width: 900px) { 
	.audio__soundcloud-player {
		margin-top: 104px;
		margin-bottom: -10px;
	}
} 
.btn {
	text-decoration: none;
	border: 1px solid #000;
	color: #61892f;
	padding: .37rem 1rem;
	margin-right: 20px;
	margin-left: 20px;
} 
@media (min-width: 530px) { 
	.btn {
		padding: .75rem 2rem;
	}
} 
.contact {
		margin: 120px auto;
		text-align: center;
		padding: 60px 0;
		width: 100%;
		height: 700px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.3);
} 
@media (min-width: 530px) { 
	.contact {
		height: 1000px;
		background: url('../../assets/images/unsplash/maite-tiscar-271141-unsplash.jpg') center left no-repeat; 
		/* Photo by Maite Tiscar on Unsplash */
		background-size: cover;
		background-color: #333333;
		background-blend-mode: color-dodge;
		margin: 140px auto;
	}
} 
@media (min-width: 1100px) { 
	.contact {
		margin: 220px auto;
	}
} 
.contact__form {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto; 
	/*margin-top: 100px;*/
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: column;
	    flex-flow: column;
	background-color: rgba(0, 0, 0, .7);
	padding: 14px;
} 
@media (min-width: 530px) { 
	.contact__form {
		max-width: 600px;
		margin-top: 0px;
		padding: 20px;
	}
} 
@media (min-width: 900px) { 
	.contact__form {
		max-width: 700px;
	}
} 
.contact__form input {
	outline: none;
	font-size: 1rem; 
	/*background-color: $htWhite;*/
	padding: 10px; 
	/*border-radius: 7px;*/
	margin-bottom: 20px;
} 
@media (min-width: 530px) { 
	.contact__form input {
		font-size: 1.5rem;
	}
} 
.contact__form ::-webkit-input-placeholder {
	color: #5f7030;
	text-indent: 10px;
} 
.contact__form :-ms-input-placeholder {
	color: #5f7030;
	text-indent: 10px;
} 
.contact__form ::placeholder {
	color: #5f7030;
	text-indent: 10px;
} 
.contact__form textarea::-webkit-input-placeholder {
	padding-top: 20px;
	text-indent: 18px;
} 
.contact__form textarea:-ms-input-placeholder {
	padding-top: 20px;
	text-indent: 18px;
} 
.contact__form textarea::placeholder {
	padding-top: 20px;
	text-indent: 18px;
} 
.contact__form textarea {
	outline: none;
	color: #5f7030;
	font-size: 1rem;
	margin-bottom: 20px;
} 
@media (min-width: 530px) { 
	.contact__form textarea {
		font-size: 1.5rem;
	}
} 
.contact__form input[type="submit"] {
	padding: .5rem 1rem;
	width: 140px;
	margin: auto;
} 
@media (min-width: 530px) { 
	.contact__form input[type="submit"] {
		padding: 1rem 2rem;
		width: 200px;
	}
} 
.container {

	width: 700px;
	margin: auto;
} 
@media (min-width: 530px) { 
	.container {
		width: 1200px;
		margin: auto;
	}
} 
.container--large {
	margin: auto;
} 
@media (min-width: 900px) { 
	.container--large {
		max-width: 500px;
	}
} 
@media (min-width: 800px) { 
	.container--large {
		max-width: 1200px;
	}
} 
@media (min-width: 1300px) { 
	.container--large {
		max-width: 1500px;
	}
} 
@media (min-width: 1800px) { 
	.container--large {
		max-width: 1700px;
	}
} 
.credits {
	background-image: url("./roberta-sorge-125543-unsplash.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
	padding-bottom: 180px;
} 
@media (min-width: 800px) { 
	.credits {
		-ms-flex-direction: row;
		    flex-direction: row;
	}
} 
.credits__list {
	width: 85%;
	margin: auto;
	padding: 40px;
	background-color: #C9DD4B;
	list-style-type: none;
	border-radius: 3%;
	line-height: 2.2;
	color: #474b4f;
	font-weight: 800;
} 
@media (min-width: 800px) { 
	.credits__list {
		text-align: center;
		line-height: 2;
		font-size: 1rem;
		width: 75%; 
		/*padding: 30px;*/
	}
} 
@media (min-width: 1300px) { 
	.credits__list {
		font-size: 1.2rem;
		padding: 60px;
		width: 100%;
	}
} 
.credits::after {
	display: table;
	content: "";
	clear: both;
} 
.divider {

	height: 235px;
	position: relative;
	z-index: 1;
} 
.divider--first {
	background: url('../../assets/images/unsplash/roberta-sorge-125543-unsplash.jpg') 50% 50% no-repeat; 
	/* Photo by Roberta Sorge on Unsplash */
	-webkit-filter: grayscale(100%);
	        filter: grayscale(100%);
	background-size: cover;
	background-color: #C9DD4B;
	background-blend-mode: color-burn;
	margin-top: 50px;
	margin-bottom: 30px;
} 
.divider--second {
	background-color: #F5F5F5;
	background: url('../../assets/images/unsplash/cristian-guanipa-161134-unsplash.jpg') center left no-repeat; 
	/* Photo by Cristian Guanipa on Unsplash */
	background-size: cover;
	-webkit-filter: grayscale(75%);
	        filter: grayscale(75%);
	margin-top: -30px;
	margin-bottom: 20px;
} 
.divider--third {
	background: url('../../assets/images/unsplash/scott-gruber-41185-unsplash.jpg') 0% 20% no-repeat; 
	/* Photo by Scott Gruber on Unsplash */
	background-size: cover;
	background-color: #333333;
	background-blend-mode: color-dodge;
	-webkit-filter: grayscale(100%);
	        filter: grayscale(100%);
	margin-bottom: 130px;
} 
.footer {
	text-align: center;
	color: #F5F5F5;
	background-color: #1D1D1D;
	padding: 20px;
	font-size: .9rem;
	letter-spacing: 1.3px;
} 
@media (min-width: 530px) { 
	.footer {
		max-width: 100%;
		margin-top: -70px;
	}
} 
@media (min-width: 800px) { 
	.footer {
		font-size: 1.1rem;
	}
} 
.footer__title {
	color: #C9DD4B;
	letter-spacing: 4px;
	font-weight: 400;
} 
.footer__phone a{
	color: #C9DD4B;
	text-decoration: none;
} 
.header {	
	color: #C9DD4B;
	width: 100%;
	letter-spacing: 0.2125rem;
	z-index: 2;
	box-shadow: 0px 3px 30px 0px #5a5656;
} 
@media (min-width: 800px) { 
	.header {
		position: fixed;
	}
} 
.header--is-expanded { 
	/*color: red;*/
} 
.header__menu {
	display: none;
} 
/*animation: fadeIn 2s ease-in;*/ 
@media (min-width: 900px) { 
	.header__menu {
		display: block;
	}
} 
.header__menu--is-visible {
	display: block;
} 
.header__nav {
	background-color: rgba(0, 1, 0, 0.96);
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	-ms-flex-align: center;
	    align-items: center;
	-ms-flex-pack: start;
	    justify-content: flex-start;
} 
/*padding: 0.25rem;*/ 
@media (min-width: 530px) { 
	.header__nav {
		-ms-flex-pack: justify;
		    justify-content: space-between;
	}
} 
@media (min-width: 900px) { 
	.header__nav {
		-ms-flex-pack: distribute;
		    justify-content: space-around;
	}
} 
@media (min-width: 1300px) { 
	.header__nav {
		-ms-flex-pack: distribute;
		    justify-content: space-around;
	}
} 
.header__full-title {
	animation: fadeIn 1.5s;
} 
.header__title {
	-ms-flex: 0 0 100px;
	    flex: 0 0 100px;
	font-size: 1.47rem;
	letter-spacing: 6px;
	font-weight: 400;
} 
/*padding-left: 0px;*/ 
@media (min-width: 530px) { 
	.header__title {
		-ms-flex: 0 0 400px;
		    flex: 0 0 400px;
		font-size: 1.8rem;
		padding-left: 80px; 
		/*text-align: center;*/
	}
} 
@media (min-width: 900px) { 
	.header__title {
		padding-left: 0px;
	}
} 
@media (min-width: 1100px) { 
	.header__title {
		font-size: 2.0rem;
	}
} 
@media (min-width: 1300px) { 
	.header__title {
		font-size: 2.5rem;
	}
} 
.header__title-guitar {
	font-weight: 200; 
	/*color: $htWhite;*/
	color: #c0bdbd;
	font-size: 2.2rem;
} 
@media (min-width: 530px) { 
	.header__title-guitar {
		font-size: 1.5rem;
	}
} 
@media (min-width: 1100px) { 
	.header__title-guitar {
		font-size: 1.7rem;
	}
} 
@media (min-width: 1300px) { 
	.header__title-guitar {
		font-size: 2.2rem;
	}
} 
.header__menu-item {
	display: inline; 
	/*padding: 1.25rem;*/ 
	/*font-size: 1.15rem;*/
	font-weight: 200;
} 
@media (min-width: 800px) { 
	.header__menu-item {
		font-size: 0.9rem;
		padding: .4rem;
	}
} 
@media (min-width: 1100px) { 
	.header__menu-item {
		font-size: 1rem;
		padding: .5rem;
	}
} 
@media (min-width: 1300px) { 
	.header__menu-item {
		font-size: 1.1rem;
		padding: 1.25rem;
	}
} 
.header__menu-item-dot {
	height: 6px;
	width: 6px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
} 
.header__menu-item-anchor {
	text-decoration: none;
	color: #F5F5F5;
	transition: color 100ms;
} 
@media (min-width: 800px) { 
	.header__menu-item-anchor.is-current-link {
		color: #C9DD4B;
	}
} 
.header__menu-item-anchor:hover {
	color: #C9DD4B;
} 
.header__menu-icon {
	width: 80px;
	height: 19px;
	position: absolute;
	top: 40px;
	right: 20px;
} 
.header__menu-icon::before {
	content: "";
	position: absolute;
	top: 0px;
	left: 0;
	width: 20px;
	height: 3px;
	background-color: #fff;
	transform-origin: 0 0;
	transition: transform 300ms ease-out;
} 
.header__menu-icon__middle {
	position: absolute;
	top: 8px;
	left: 0;
	width: 20px;
	height: 3px;
	background-color: #fff;
	transition: all 300ms ease-out;
	transform-origin: 0 50%;
} 
.header__menu-icon::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 20px;
	height: 3px;
	background-color: #fff;
	transform-origin: 0 100%;
	transition: transform 300ms ease-out;
} 
.header__menu-icon--close-x::before {
	transform: rotate(45deg) scaleX(1.25);
} 
.header__menu-icon--close-x .header__menu-icon__middle {
	opacity: 0;
	transform: scaleX(0);
} 
.header__menu-icon--close-x::after {
	transform: rotate(-45deg) scaleX(1.25) translateY(1px);
} 
@media (min-width: 900px) { 
	.header__menu-icon {
		display: none;
	}
} 
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
} 
.instruments {	
	background-color: #61892f;
	color: #F5F5F5;
	width: 100%;
	text-align: center;
	padding: 60px;
} 
@media (min-width: 800px) { 
	.instruments {
		float: left;
		width: 50%;
	}
} 
.large-hero__image {
	-webkit-filter: grayscale(45%);
	        filter: grayscale(45%);
	display: block;
	height: 300px;
} 
@media (min-width: 530px) { 
	.large-hero__image {
		width: 100%;
		height: auto;
	}
} 
.page-section {
	margin-bottom: 60px;
	padding-top: 0px;
} 
@media (min-width: 530px) { 
	.page-section {
		padding-top: 30px;
		margin-bottom: 100px;
	}
} 
@media (min-width: 800px) { 
	.page-section {
		padding-top: 120px;
	}
} 
@media (min-width: 900px) { 
	.page-section {
		padding-top: 170px;
	}
} 
@media (min-width: 1300px) { 
	.page-section {
		padding-top: 200px;
		margin-bottom: 200px;
	}
} 
@media (min-width: 530px) { 
	.page-section--tutorials {
		padding-top: 160px;
		margin-bottom: 100px;
	}
} 
.row__large-4 {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
} 
.row__large-2 {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
} 
.section-title {
	color: #5f7030;
	font-size: 1.6rem;
	border-bottom: 2px solid #474b4f;
	border-top: 2px solid #474b4f;
	width: 130px;
	margin: 0 auto 60px;
	text-align: center;
} 
@media (min-width: 530px) { 
	.section-title {
		margin: 0 auto 80px;
		font-size: 1.85rem;
		width: 165px;
	}
} 
@media (min-width: 800px) { 
	.section-title {
		font-size: 2.1rem;
		width: 200px;
	}
} 
@media (min-width: 1300px) { 
	.section-title {
		font-size: 2.5rem;
		width: 300px;
	}
} 
.section-title--instruments {
	color: #333333;
	border-bottom: 2px solid #F5F5F5;
	border-top: 2px solid #F5F5F5;
} 
.section-title--contact {
	background-color: rgba(255, 255, 255, .85);
	width: 150px;
} 
@media (min-width: 530px) { 
	.section-title--contact {
		width: 200px;
		margin-top: 100px;
	}
} 
@media (min-width: 800px) { 
	.section-title--contact {
		width: 250px;
		margin-top: -10px;
	}
} 
@media (min-width: 900px) { 
	.section-title--contact {
		margin-top: -100px;
	}
} 
@media (min-width: 1300px) { 
	.section-title--contact {
		width: 300px;
	}
} 
.section-title--about {
	margin-top: 60px;
	color: #5f7030;
} 
@media (min-width: 530px) { 
	.section-title--about {
		margin-top: 100px;
	}
} 
@media (min-width: 800px) { 
	.section-title--about {
		margin-top: 130px;
	}
} 
.section-title__video, .section-title__audio {
	margin-top: 60px;
	margin-bottom: 20px;
} 
@media (min-width: 530px) { 
	.section-title__video, .section-title__audio {
		margin-top: 20px;
	}
} 
@media (min-width: 800px) { 
	.section-title__video, .section-title__audio {
		margin-top: -30px;
	}
} 
@media (min-width: 1100px) { 
	.section-title__video, .section-title__audio {
		margin-top: -50px;
	}
} 
.section-title__audio {
	margin-bottom: 70px;
} 
.section-title__tutorials {
	width: 160px;
	margin-bottom: 60px;
} 
@media (min-width: 530px) { 
	.section-title__tutorials {
		width: 200px;
		margin-top: -190px;
		margin-bottom: 40px;
	}
} 
@media (min-width: 800px) { 
	.section-title__tutorials {
		width: 250px;
		margin-bottom: 30px;
	}
} 
@media (min-width: 900px) { 
	.section-title__tutorials {
		margin-bottom: 40px;
	}
} 
@media (min-width: 1300px) { 
	.section-title__tutorials {
		width: 300px;
		margin-top: 0px;
		margin-bottom: 140px;
	}
} 
.social-icons {
	text-align: center;
	background-color: #1D1D1D;
} 
.social-icons__icon {
	color: #61892f;
	padding: 0px 20px 50px 20px;
	font-size: 1.5rem;
} 
@media (min-width: 800px) { 
	.social-icons__icon {
		font-size: 2rem;
	}
} 
.social-icons__icon:hover {
	color: #C9DD4B;
	transform: scale(1.2);
} 
.testimonials{
	overflow: hidden;
	height: 375px;
	background-color: #F5F5F5;
	text-align: center;
} 
.testimonials figure div{
	width: 20%;
	float: left;
} 
.testimonials figure img{
	width: 100%;
	float: left;
} 
.testimonials figure{
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 70s slidy infinite;
} 
.testimonials h2 {
	padding-top: 50px;
	color: #61892f;
	font-size: 1.8rem;
} 
.testimonials p {
	max-width: 800px;
	margin: 0 auto;
	font-style: italic;
	margin-bottom: 0px;
} 
@keyframes slidy {
	0% {
		left: 0;
	}
	10% {
		left: 0;
	}

	12% {
		left: -100%;
	}

	22% {
		left: -100%;
	}

	24% {
		left: -200%;
	}

	34% {
		left: -200%;
	}

	36% {
		left: -300%;
	}

	46% {
		left: -300%;
	}

	48% {
		left: -400%;
	}

	58% {
		left: -400%;
	}

	60% {
		left: -300%;
	}

	70% {
		left: -300%;
	}

	72% {
		left: -200%;
	}

	82% {
		left: -200%;
	}

	84% {
		left: -100%;
	}

	94% {
		left: -100%;
	}

	96% {
		left: 0%;
	}
} 
blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    width: 800px;
    /*margin: 0.25em 0;*/
    margin: 0 auto;
    padding: 0.35em 40px;
    line-height: 1.85;
    position: relative;
    color: #383838;
    text-align: left;
} 
blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
} 
blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
} 
blockquote cite:before {
    content: "\2014 \2009";
} 
.tutorials__wrapper {
	width: 75vw;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
} 
.tutorials__course-grid {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
	-ms-flex-align: center;
	    align-items: center;
	margin-bottom: 190px;
} 
.tutorials__course-grid a {
	margin: 10px 0px;
} 
@media (min-width: 530px) { 
	.tutorials__course-grid {
		-ms-flex-flow: row wrap;
		    flex-flow: row wrap;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
	} 
	.tutorials__course-grid a {
		margin: 40px 0px;
	} 
	.tutorials__course-grid img {
		width: 75%;
		box-shadow: 6px 5px 5px 1px #999999;
	}
} 
.video__grid {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	    flex-flow: row wrap;
	-ms-flex-pack: justify;
	    justify-content: space-between; 
	/*background-color: $htWhite;*/
	padding-top: 0px;
} 
@media (min-width: 530px) { 
	.video__grid {
		padding-top: 20px;
	}
} 
@media (min-width: 800px) { 
	.video__grid {
		padding-top: 60px;
	}
} 
@media (min-width: 900px) { 
	.video__grid {
		padding-top: 120px;
	}
} 
.video__wrapper {
	height: 205px;
	margin-bottom: 60px;
} 
.video__wrapper .video__item {
	transition: all .10s ease-in-out;
} 
.video__wrapper:hover .video__item {
	opacity: .7;
	-webkit-filter: grayscale(40%);
	        filter: grayscale(40%);
	transform: scale(1.005);
} 
.video__item {
	margin: 40px;
} 
.reveal-item {
	opacity: 0;
	transition: opacity 1.5s ease-out;
} 
.reveal-item--is-visible {
	opacity: 1;
}