* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
} 
body {
	margin: 0;
	padding: 0;
	font: 16px 'Heebo', 'Arial', sans-serif;
} 
.about {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #1D1D1D;
} 
.about__image {
		width: 50%;
	} 
.about__text-content {
		font-size: 1.5rem;
	} 
.audio__soundcloud-player {
		width: 100%;
		height: 450px;
	} 
@media (min-width: 530px) { 
.audio__soundcloud-player {
			width: 100%;
			height: 450px
	}
	} 
.btn {
	text-decoration: none;
	border: 1px solid #000;
	color: #61892f;
	padding: .75rem 2rem;
	margin-right: 20px;
	margin-left: 20px;
} 
.contact {
		margin: 100px auto;
		text-align: center;
		padding: 60px 0;
		width: 100%;
		border-bottom: 1px solid rgba(0, 0, 0, 0.3);
		background: url('https://images.unsplash.com/photo-1496076232753-a1ec7904dc18?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=eb1274735683d116bcf2634ff6883139&auto=format&fit=crop&w=2550&q=80https://images.unsplash.com/photo-1496076232753-a1ec7904dc18?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=eb1274735683d116bcf2634ff6883139&auto=format&fit=crop&w=2550&q=80') center left no-repeat;
		background-size: cover;
		background-color: #333333;
		background-blend-mode: color-dodge;
} 
.contact__form {
			max-width: 600px;
			margin: auto;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-flow: column;
			        flex-flow: column;
			/*border: 10px solid red;*/
			background-color: rgba(0, 0, 0, .7);
			padding: 20px;
		} 
.contact__form input {
				outline: none;
				font-size: 1.5rem;
				/*background-color: $htWhite;*/
				padding: 10px;
				/*border-radius: 7px;*/
				margin-bottom: 20px;
			} 
.contact__form ::-webkit-input-placeholder {
				color: #5f7030;
				text-indent: 10px;
			} 
.contact__form :-ms-input-placeholder {
				color: #5f7030;
				text-indent: 10px;
			} 
.contact__form ::-ms-input-placeholder {
				color: #5f7030;
				text-indent: 10px;
			} 
.contact__form ::placeholder {
				color: #5f7030;
				text-indent: 10px;
			} 
.contact__form textarea::-webkit-input-placeholder {
				padding-top: 20px;
				text-indent: 18px;
			} 
.contact__form textarea:-ms-input-placeholder {
				padding-top: 20px;
				text-indent: 18px;
			} 
.contact__form textarea::-ms-input-placeholder {
				padding-top: 20px;
				text-indent: 18px;
			} 
.contact__form textarea::placeholder {
				padding-top: 20px;
				text-indent: 18px;
			} 
.contact__form textarea {
				outline: none;
				color: #5f7030;
				font-size: 1.5rem;
				margin-bottom: 20px;
			} 
.contact__form input[type="submit"] {
				padding: 1rem 2rem;
				width: 200px;
				margin: auto;
			} 
.container {

	width: 700px;
	margin: auto;

} 
@media (min-width: 530px) { 
.container {
		width: 1200px;
		margin: auto

}
	} 
/*&--small {
		width: 100%;
		margin: auto;
	}*/ 
.container--large {
		max-width: 1800px;
		margin: auto;
	} 
.credits {
	background-image: url("./roberta-sorge-125543-unsplash.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
} 
@media (min-width: 800px) { 
.credits {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row
}
	} 
.credits__list {
		float: none;
		width: 100%;
		padding: 60px;
		background-color: #F5F5F5;
	} 
@media (min-width: 800px) { 
.credits__list {
			float: left;
			width: 50%
	}
	} 
.credits ul {
		list-style-type: none;
	} 
.credits::after {
	display: table;
	content: "";
	clear: both;
} 
.divider {

	height: 235px;
	position: relative;
	z-index: 1;
} 
.divider--first {
		background: url('../../assets/images/unsplash/roberta-sorge-125543-unsplash.jpg') 50% 50% no-repeat;
		/* Photo by Roberta Sorge on Unsplash */
		-webkit-filter: grayscale(100%);
		        filter: grayscale(100%);
		background-size: cover;
		background-color: #C9DD4B;
		background-blend-mode: color-burn;
	} 
.divider--second {
		background-color: #F5F5F5;
		background: url('../../assets/images/unsplash/cristian-guanipa-161134-unsplash.jpg') center left no-repeat;
		/* Photo by Cristian Guanipa on Unsplash */
		background-size: cover;
		-webkit-filter: grayscale(75%);
		        filter: grayscale(75%);
	} 
.divider--third {
		background: url('../../assets/images/unsplash/scott-gruber-41185-unsplash.jpg') 0% 20% no-repeat;
		/* Photo by Scott Gruber on Unsplash */
		background-size: cover;
		background-color: #333333;
		background-blend-mode: color-dodge;
	} 
.footer {
	text-align: center;
	color: #F5F5F5;
	background-color: #1D1D1D;
	padding: 20px;
} 
@media (min-width: 530px) { 
.footer {	
		max-width: 100%
}
	} 
.header {
	position: fixed;
	color: #C9DD4B;
	width: 100%;
	letter-spacing: 0.3125rem;
	z-index: 2;
	-webkit-box-shadow: 0px 0px 9px 0px #5a5656;
	        box-shadow: 0px 0px 9px 0px #5a5656;
} 
.header__menu {
		display: none;
	} 
@media (min-width: 530px) { 
.header__menu {
			display: block
	}
	} 
.header__menu--is-visible {
			display: block;
		} 
.header__nav {
		background-color: rgba(0, 1, 0, 0.96);
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-flow: row nowrap;
		        flex-flow: row nowrap;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;	
		padding: 0.25rem;
	} 
@media (min-width: 530px) { 
.header__nav {
			-ms-flex-pack: distribute;
			    justify-content: space-around
	}
	} 
.header__title {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 100px;
		        flex: 0 0 100px;
		font-size: 1.47rem;
		font-weight: 300;
	} 
@media (min-width: 530px) { 
.header__title {
			-webkit-box-flex: 0;
			    -ms-flex: 0 0 400px;
			        flex: 0 0 400px;
			font-size: 2.4rem;
			text-align: center
	}
	} 
.header__menu-item {
		display: inline;
		padding: 1.25rem;
		font-size: 1.15rem;
		font-weight: 200;
	} 
.header__menu-item-dot {
	    height: 6px;
	    width: 6px;
	    background-color: #bbb;
	    border-radius: 50%;
	    display: inline-block;
	} 
.header__menu-item-anchor {
		text-decoration: none;
		color: #F5F5F5;
		-webkit-transition: color 100ms;
		transition: color 100ms;
	} 
.header__menu-item-anchor:hover {
		color: #C9DD4B;
	} 
.header__menu-icon {	
		width: 60px;
		height: 60px;
		background-color: #fff;
		position: absolute;
		top: 50px;
		right: 50px;
	} 
@media (min-width: 800px) { 
.header__menu-icon {
			display: none
	}
	} 
.instruments {	
	background-color: #61892f;
	color: #F5F5F5;
	width: 100%;
	text-align: center;
	padding: 60px;
} 
@media (min-width: 800px) { 
.instruments {
		float: left;
		width: 50%
}
	} 
.large-hero__image {
		-webkit-filter: grayscale(45%);
		        filter: grayscale(45%);
		display: block;
		height: 300px;
	} 
@media (min-width: 530px) { 
.large-hero__image {
		width: 100%;
		height: auto
	}
	} 
.page-section {
	margin-bottom: 60px;
	padding-top: 60px;
} 
@media (min-width: 530px) { 
.page-section {
		padding-top: 100px;
		margin-bottom: 100px
}
	} 
@media (min-width: 530px) { 
.page-section--tutorials {
			padding-top: 30px;
			margin-bottom: 100px
	}
	} 
.row__large-4 {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-flow: row nowrap;
		        flex-flow: row nowrap;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
	} 
.row__large-2 {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-flow: row nowrap;
		        flex-flow: row nowrap;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
	} 
.section-title {
	color: #5f7030;
	font-size: 2.5rem;
	border-bottom: 2px solid #474b4f;
	border-top: 2px solid #474b4f;
	width: 300px;
	margin: 0 auto 60px;
	text-align: center;
} 
@media (min-width: 530px) { 
.section-title {
		margin: 0 auto 80px
}
	} 
.section-title--instruments {
		color: #333333;
		border-bottom: 2px solid #F5F5F5;
		border-top: 2px solid #F5F5F5;
	} 
.section-title--contact {
		background-color: rgba(255, 255, 255, .85);
	} 
.social-icons {
	text-align: center;
	background-color: #1D1D1D;
} 
.social-icons__icon {
		color: #F5F5F5;
		padding: 20px;
	} 
.social-icons__icon:hover {
		color: #C9DD4B;
		-webkit-transform: scale(1.2);
		        transform: scale(1.2);
	} 
.testimonials{
	overflow: hidden;
	height: 360px;
	background-color: #F5F5F5;
	text-align: center;
} 
.testimonials figure div{
	width: 20%;
	float: left;
} 
.testimonials figure img{
	width: 100%;
	float: left;
} 
.testimonials figure{
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	-webkit-animation: 70s slidy infinite;
	        animation: 70s slidy infinite;
} 
.testimonials h2 {
	padding-top: 50px;
	color: #61892f;
	font-size: 1.8rem;
} 
.testimonials p {
	max-width: 800px;
	margin: 0 auto;
	font-style: italic;
	margin-bottom: 0px;
} 
@-webkit-keyframes slidy {
	0% {
		left: 0;
	}
	10% {
		left: 0;
	}

	12% {
		left: -100%;
	}

	22% {
		left: -100%;
	}

	24% {
		left: -200%;
	}

	34% {
		left: -200%;
	}

	36% {
		left: -300%;
	}

	46% {
		left: -300%;
	}

	48% {
		left: -400%;
	}

	58% {
		left: -400%;
	}

	60% {
		left: -300%;
	}

	70% {
		left: -300%;
	}

	72% {
		left: -200%;
	}

	82% {
		left: -200%;
	}

	84% {
		left: -100%;
	}

	94% {
		left: -100%;
	}

	96% {
		left: 0%;
	}
} 
@keyframes slidy {
	0% {
		left: 0;
	}
	10% {
		left: 0;
	}

	12% {
		left: -100%;
	}

	22% {
		left: -100%;
	}

	24% {
		left: -200%;
	}

	34% {
		left: -200%;
	}

	36% {
		left: -300%;
	}

	46% {
		left: -300%;
	}

	48% {
		left: -400%;
	}

	58% {
		left: -400%;
	}

	60% {
		left: -300%;
	}

	70% {
		left: -300%;
	}

	72% {
		left: -200%;
	}

	82% {
		left: -200%;
	}

	84% {
		left: -100%;
	}

	94% {
		left: -100%;
	}

	96% {
		left: 0%;
	}
} 
blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    width: 800px;
    /*margin: 0.25em 0;*/
    margin: 0 auto;
    padding: 0.35em 40px;
    line-height: 1.85;
    position: relative;
    color: #383838;
    text-align: left;
} 
blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
} 
blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
} 
blockquote cite:before {
    content: "\2014 \2009";
} 
.tutorials__course-grid img {
			width: 100%;
			margin: 0 auto;
		} 
@media (min-width: 530px) { 
.tutorials__course-grid {
			/*max-width: 1800px;
			margin: 0 auto;*/
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			    -ms-flex-flow: row wrap;
			        flex-flow: row wrap;
			-ms-flex-pack: distribute;
			    justify-content: space-around
	}

			.tutorials__course-grid a {
				-ms-flex-preferred-size: 0 0 1;
				    flex-basis: 0 0 1;
				margin: 30px;
			}

			.tutorials__course-grid img {
				width: 75%;
				-webkit-box-shadow: 6px 5px 5px 1px #999999;
				        box-shadow: 6px 5px 5px 1px #999999;
				
			}
	} 
.video__grid {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-flow: row wrap;
		        flex-flow: row wrap;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		background-color: #F5F5F5;
	} 
.video__wrapper {
		/*background-color: $htLightGrey;*/
		/*background-color: palegreen;*/
		/*background-color: springgreen;*/
		background-color: limegreen;
		height: 205px;
		margin-bottom: 60px;
	} 
.video__wrapper .video__item {
		-webkit-transition: all .10s ease-in-out;
		transition: all .10s ease-in-out;
	} 
.video__wrapper:hover .video__item {
		opacity: .3;
		-webkit-filter: grayscale(100%);
		        filter: grayscale(100%);
	}