.audio {
	&__soundcloud-player {
		width: 100%;
		height: 450px;
		padding-left: 20px;
		padding-right: 20px;

		@mixin atMedium {
			margin-top: 45px;
			margin-bottom: -10px;
		}

		@mixin atMedium-Small {
			margin-top: 104px;
			margin-bottom: -10px;
		}
	}
}