.contact-us {
		margin: 100px auto;
		text-align: center;
		padding: 60px 0;
		width: 100%;
		border-bottom: 1px solid rgba(0, 0, 0, 0.3);

		background: url('https://images.unsplash.com/photo-1496076232753-a1ec7904dc18?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=eb1274735683d116bcf2634ff6883139&auto=format&fit=crop&w=2550&q=80https://images.unsplash.com/photo-1496076232753-a1ec7904dc18?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=eb1274735683d116bcf2634ff6883139&auto=format&fit=crop&w=2550&q=80') center left no-repeat;
		background-size: cover;
		/*filter: grayscale(90%);*/
		background-color: $htMediumGrey;
		background-blend-mode: color-dodge;


		&__text-content {
			margin: 2.5rem auto;
			max-width: 34.375rem;
		}
}
