.contact {
		margin: 130px auto;
		text-align: center;
		padding: 60px 0;
		width: 100%;
		height: 1000px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.3);
		background: url('../../assets/images/unsplash/maite-tiscar-271141-unsplash.jpg') center left no-repeat;
		/* Photo by Maite Tiscar on Unsplash */
		background-size: cover;
		background-color: $htMediumGrey;
		background-blend-mode: color-dodge;

		&__form {
			max-width: 600px;
			margin: auto;
			display: flex;
			flex-flow: column;
			/*border: 10px solid red;*/
			background-color: rgba(0, 0, 0, .7);
			padding: 20px;

			input {
				outline: none;
				font-size: 1.5rem;
				/*background-color: $htWhite;*/
				padding: 10px;
				/*border-radius: 7px;*/
				margin-bottom: 20px;
			}

			::placeholder {
				color: $htMediumGreen;
				text-indent: 10px;
			}

			textarea::placeholder {
				padding-top: 20px;
				text-indent: 18px;
			}


			textarea {
				outline: none;
				color: $htMediumGreen;
				font-size: 1.5rem;
				margin-bottom: 20px;
			}

			input[type="submit"] {
				padding: 1rem 2rem;
				width: 200px;
				margin: auto;
			}
		}
}
