.credits {
	background-image: url("./roberta-sorge-125543-unsplash.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;

	@mixin atMedium {
		flex-direction: row;
	}

	&__list {
		float: none;
		width: 100%;
		padding: 60px;
		background-color: $htWhite;

		@mixin atMedium {
			float: left;
			width: 50%;
		}
	}

	ul {
		list-style-type: none;
	}
}

.credits::after {
	display: table;
	content: "";
	clear: both;
}