.credits {
	background-image: url("./roberta-sorge-125543-unsplash.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	
	&__list {
		float: left;
		width: 50%;
		padding: 60px;
		background-color: $htWhite;
	}

	ul {
		list-style-type: none;
	}
}

.credits::after {
	display: table;
	content: "";
	clear: both;
}