.divider {

	height: 235px;
	position: relative;
	z-index: 1;

	&--first {
		background: url('../../assets/images/unsplash/roberta-sorge-125543-unsplash.jpg') 50% 50% no-repeat;
		/* Photo by Roberta Sorge on Unsplash */
		filter: grayscale(100%);
		background-size: cover;
		background-color: $htLightGreen;
		background-blend-mode: color-burn;
	}

	&--second {
		background-color: $htWhite;
		background: url('../../assets/images/unsplash/cristian-guanipa-161134-unsplash.jpg') center left no-repeat;
		/* Photo by Cristian Guanipa on Unsplash */
		background-size: cover;
		filter: grayscale(75%);
	}

	&--third {
		background: url('../../assets/images/unsplash/scott-gruber-41185-unsplash.jpg') 0% 20% no-repeat;
		/* Photo by Scott Gruber on Unsplash */
		background-size: cover;
		background-color: $htMediumGrey;
		background-blend-mode: color-dodge;
	}
}

