.footer {
	text-align: center;
	color: $htWhite;
	background-color: $htDarkGrey;
	padding: 20px;

	@mixin atSmall {	
		max-width: 100%;
	}

	&__title {
		color: $htLightGreen;
	}

	&__email {
		color: $htLightGreen;
	}


}