.footer {
	text-align: center;
	color: $htWhite;
	background-color: $htDarkGrey;
	padding: 20px;
	font-size: .9rem;
	letter-spacing: 1.3px;

	@mixin atSmall {	
		max-width: 100%;
		margin-top: -70px;
	}

	@mixin atMedium {	
		font-size: 1.1rem;	
	}

	&__title {
		color: $htLightGreen;
		letter-spacing: 4px;
		font-weight: 400;
	}

	&__phone a{
		color: $htLightGreen;
		text-decoration: none;
	}
}