.header {
	position: fixed;
	color: $htLightGreen;
	width: 100%;
	letter-spacing: 0.3125rem;
	z-index: 2;
	box-shadow: 0px 0px 9px 0px #5a5656;

	&--is-expanded {
		color: red;
	}

	&__menu {
		display: none;

		@mixin atSmall {
			display: block;
		}

		&--is-visible {
			display: block;
		}
	}

	&__nav {
		background-color: $htBlackOpacity;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: flex-start;	
		padding: 0.25rem;
	
		@mixin atSmall {
			justify-content: space-around;	
		}
	}

	&__title {
		flex: 0 0 100px;
		font-size: 1.47rem;
		font-weight: 300;

		@mixin atSmall {
			flex: 0 0 400px;
			font-size: 2.4rem;
			text-align: center;
		}
	}

	&__menu-item {
		display: inline;
		padding: 1.25rem;
		font-size: 1.15rem;
		font-weight: 200;
	}

	&__menu-item-dot {
	    height: 6px;
	    width: 6px;
	    background-color: #bbb;
	    border-radius: 50%;
	    display: inline-block;
	}

	&__menu-item-anchor {
		text-decoration: none;
		color: $htWhite;
		transition: color 100ms;
	}

	&__menu-item-anchor:hover {
		color: $htLightGreen;
	}


	&__menu-icon {	
		width: 80px;
		height: 19px;
		position: absolute;
		top: 40px;
		right: 20px;

		&::before {
			content: "";
			position: absolute;
			top: 0px;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: #fff;
			transform-origin: 0 0;
			transition: transform 300ms ease-out;
		}

		&__middle {
			position: absolute;
			top: 8px;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: #fff;
			transition: all 300ms ease-out;
			transform-origin: 0 50%;
		}

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: #fff;
			transform-origin: 0 100%;
			transition: transform 300ms ease-out;
		}

		&--close-x {
			&::before {
				transform: rotate(45deg) scaleX(1.25);

			}

			.header__menu-icon__middle {
				opacity: 0;
				transform: scaleX(0);
			}

			&::after {
				transform: rotate(-45deg) scaleX(1.25) translateY(1px);
			}
		}

		@mixin atMedium {
			display: none;
		}

	}
}

