.header {
	position: fixed;
	color: $htLightGreen;
	width: 100%;
	letter-spacing: 0.3125rem;
	z-index: 2;

	&__menu {
		display: none;

		@mixin atSmall {
			display: block;
		}
	}

	&__nav {
		background-color: $htBlackOpacity;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: flex-start;	
		padding: 1.25rem;
	
		@mixin atSmall {
			justify-content: space-around;	
		}
	}

	&__menu-item {
		display: inline;
		padding: 1.25rem;
		font-size: 1.15rem;
		font-weight: 500;
	}

	&__menu-item-anchor {
		text-decoration: none;
		color: $htWhite;
		transition: color 200ms;
	}

	&__menu-item-anchor:hover {
		color: $htLightGreen;
	}

	&__title {
		flex: 0 0 100px;
		font-size: 1.47rem;
		font-weight: 700;

		@mixin atSmall {
			flex: 0 0 300px;
			font-size: 1.67rem;
		}
	}

	&__menu-icon {	
		width: 60px;
		height: 60px;
		background-color: #fff;
		position: absolute;
		top: 50px;
		right: 50px;

		@mixin atMedium {
			display: none;
		}
	}
}