.innovation {
		max-width: 1200px;
		margin: auto;
		text-align: center;
		color: $darkGrey;
		background-color: $white;
		
	.innovation-wrapper {
		border: 1px solid;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 50% 50%;
	}
}

