.page-section {
	margin-bottom: 60px;
	padding-top: 60px;

	@mixin atSmall {
		padding-top: 200px;
		margin-bottom: 200px;
	}

	&--tutorials {
		@mixin atSmall {
			padding-top: 160px;
			margin-bottom: 100px;
		}
	}
}