.social-icons {
	text-align: center;
	background-color: $htDarkGrey;
	
	&__icon {
		color: $htDarkGreen;
		padding: 0px 20px 50px 20px;
	}

	&__icon:hover {
		color: $htLightGreen;
		/*color: $htWhite;*/
		transform: scale(1.2);
	}
}