.testimonials{
	overflow: hidden;
	height: 360px;
	background-color: $htWhite;
	text-align: center;
}

.testimonials figure div{
	width: 20%;
	float: left;
}

.testimonials figure img{
	width: 100%;
	float: left;
}

.testimonials figure{
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 70s slidy infinite;
}

.testimonials h2 {
	padding-top: 50px;
	color: $htDarkGreen;
	font-size: 1.8rem;
}

.testimonials p {
	max-width: 800px;
	margin: 0 auto;
	font-style: italic;
	margin-bottom: 0px;
}


@keyframes slidy {
	0% {
		left: 0;
	}
	10% {
		left: 0;
	}

	12% {
		left: -100%;
	}

	22% {
		left: -100%;
	}

	24% {
		left: -200%;
	}

	34% {
		left: -200%;
	}

	36% {
		left: -300%;
	}

	46% {
		left: -300%;
	}

	48% {
		left: -400%;
	}

	58% {
		left: -400%;
	}

	60% {
		left: -300%;
	}

	70% {
		left: -300%;
	}

	72% {
		left: -200%;
	}

	82% {
		left: -200%;
	}

	84% {
		left: -100%;
	}

	94% {
		left: -100%;
	}

	96% {
		left: 0%;
	}
}


blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    width: 800px;
    /*margin: 0.25em 0;*/
    margin: 0 auto;
    padding: 0.35em 40px;
    line-height: 1.85;
    position: relative;
    color: #383838;
    text-align: left;
}

blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
}

blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

blockquote cite:before {
    content: "\2014 \2009";
}