.tutorials{

	&__course-grid {
		
		img {
			width: 100%;
			margin: 0 auto;
		}

		@mixin atSmall {
			/*max-width: 1800px;
			margin: 0 auto;*/
			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;
			padding-top: 120px;
			margin-bottom: 190px;

			a {
				flex-basis: 0 0 1;
				margin: 30px;
			}

			img {
				width: 75%;
				box-shadow: 6px 5px 5px 1px $htLightGrey;
				
			}
		}
	}
}