.tutorials{

	.course-grid {
		max-width: 1800px;
		margin: 0 auto;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;

		a {
			flex-basis: 0 0 1;
			margin: 30px;
		}

		img {
			width: 75%;
			box-shadow: 6px 5px 5px 1px $htLightGrey;
			
		}
	}
}