.video {

	&__grid {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		/*background-color: $htWhite;*/
		padding-top: 0px;
/*		max-width: 1570px;
		margin: auto;*/

		@mixin atSmall {
			padding-top: 20px;
		}

		@mixin atMedium {
			justify-content: center;
			padding-top: 60px;
		}

		@mixin atMedium-Small {
			justify-content: space-around;
			padding-top: 120px;
		}

		@mixin atMedium-Large {
			justify-content: space-between;
		}
	}

	&__wrapper {
		height: 205px;
		margin-bottom: 60px;
	}

	&__wrapper &__item {
		transition: all .10s ease-in-out;
	}

	&__wrapper:hover &__item {
		opacity: .7;
		filter: grayscale(40%);
		transform: scale(1.005);
	}

	&__item {
		margin: 40px;
		width: 320px;

		@mixin atSmall {
			width: 400px;
		}

		@mixin atMedium {
			width: 320px;
		}
	}
}