.video {

	&__grid {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		/*background-color: $htWhite;*/
		padding-top: 0px;

		@mixin atSmall {
			padding-top: 20px;
		}

		@mixin atMedium {
			padding-top: 60px;
		}

		@mixin atMedium-Small {
			padding-top: 120px;
		}
	}

	&__wrapper {
		height: 205px;
		margin-bottom: 60px;
	}

	&__wrapper &__item {
		transition: all .10s ease-in-out;
	}

	&__wrapper:hover &__item {
		opacity: .7;
		filter: grayscale(40%);
		transform: scale(1.005);
	}

	&__item {
		margin: 40px;
	}
}